## I) Visualisation

In [1]:
import pandas as pd

In [2]:
crimes = pd.read_csv('crimes.csv')

In [3]:
crimes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1854 entries, 0 to 1853
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   TIME    1854 non-null   int64
 1   GEO     1854 non-null   object
 2   UNIT    1854 non-null   object
 3   ICCS    1854 non-null   object
 4   Value   1854 non-null   int64
dtypes: int64(2), object(3)
memory usage: 72.5+ KB

In [4]:
crimes.head(5)

   TIME       GEO    UNIT                                       ICCS   Value
0  1998  Bulgarie  Nombre                                      Total  163988
1  1998  Bulgarie  Nombre                      Homicide intentionnel     381
2  1998  Bulgarie  Nombre                               Vol qualifié    4494
3  1998  Bulgarie  Nombre  Cambriolage de locaux résidentiels privés   43830
4  1998  Tchéquie  Nombre                                      Total  425930

In [5]:
crimes.describe()

              TIME         Value
count  1854.000000  1.854000e+03
mean   2002.643474  2.150631e+05
std       2.825309  7.755221e+05
min    1998.000000  0.000000e+00
25%    2000.000000  8.510000e+02
50%    2003.000000  9.591000e+03
75%    2005.000000  8.369050e+04
max    2007.000000  6.633156e+06

In [6]:
crimes.count()

TIME     1854
GEO      1854
UNIT     1854
ICCS     1854
Value    1854
dtype: int64

In [7]:
len(crimes.columns)

5

In [8]:
crimes.columns.values

array(['TIME', 'GEO', 'UNIT', 'ICCS', 'Value'], dtype=object)

In [9]:
crimes.head(1)

   TIME       GEO    UNIT   ICCS   Value
0  1998  Bulgarie  Nombre  Total  163988

# /////////////// TO DO ///////////////

## Donnez les pays européens ayant le plus et le moins de cambriolage en 2007

In [10]:
crimes_rob=crimes[(crimes['ICCS']=='Cambriolage de locaux résidentiels privés')&(crimes['TIME']==2007)]
crimes_rob

,TIME,GEO,UNIT,ICCS,Value
1666,2007,Belgique,Nombre,Cambriolage de locaux résidentiels privés,62964
1671,2007,Bulgarie,Nombre,Cambriolage de locaux résidentiels privés,22208
1676,2007,Tchéquie,Nombre,Cambriolage de locaux résidentiels privés,9163
1681,2007,Danemark,Nombre,Cambriolage de locaux résidentiels privés,36342
1686,2007,"Allemagne (jusqu'en 1990, ancien territoire de...",Nombre,Cambriolage de locaux résidentiels privés,109128
1691,2007,Estonie,Nombre,Cambriolage de locaux résidentiels privés,3096
1695,2007,Irlande,Nombre,Cambriolage de locaux résidentiels privés,23603
1700,2007,Grèce,Nombre,Cambriolage de locaux résidentiels privés,49886
1705,2007,Espagne,Nombre,Cambriolage de locaux résidentiels privés,72723
1710,2007,France,Nombre,Cambriolage de locaux résidentiels privés,165780
1715,2007,France (métropolitaine),Nombre,Cambriolage de locaux résidentiels privés,165780
1720,2007,Croatie,Nombre,Cambriolage de locaux résidentiels privés,3094
1725,2007,Italie,Nombre,Cambriolage de locaux résidentiels privés,169367
1730,2007,Chypre,Nombre,Cambriolage de locaux résidentiels privés,2656
1735,2007,Lettonie,Nombre,Cambriolage de locaux résidentiels privés,3654
1740,2007,Lituanie,Nombre,Cambriolage de locaux résidentiels privés,5516
1745,2007,Luxembourg,Nombre,Cambriolage de locaux résidentiels privés,2030
1750,2007,Hongrie,Nombre,Cambriolage de locaux résidentiels privés,17415
1755,2007,Malte,Nombre,Cambriolage de locaux résidentiels privés,735
1760,2007,Pays-Bas,Nombre,Cambriolage de locaux résidentiels privés,89415
1765,2007,Autriche,Nombre,Cambriolage de locaux résidentiels privés,20040
1770,2007,Pologne,Nombre,Cambriolage de locaux résidentiels privés,37644
1775,2007,Portugal,Nombre,Cambriolage de locaux résidentiels privés,22324
1780,2007,Roumanie,Nombre,Cambriolage de locaux résidentiels privés,10829
1785,2007,Slovénie,Nombre,Cambriolage de locaux résidentiels privés,2282
1790,2007,Slovaquie,Nombre,Cambriolage de locaux résidentiels privés,2437
1795,2007,Finlande,Nombre,Cambriolage de locaux résidentiels privés,6532
1800,2007,Suède,Nombre,Cambriolage de locaux résidentiels privés,16936
1805,2007,England et Wales,Nombre,Cambriolage de locaux résidentiels privés,280696
1810,2007,Scotland,Nombre,Cambriolage de locaux résidentiels privés,17465
1815,2007,Northern Ireland (UK),Nombre,Cambriolage de locaux résidentiels privés,6712
1819,2007,Islande,Nombre,Cambriolage de locaux résidentiels privés,2277
1824,2007,Liechtenstein,Nombre,Cambriolage de locaux résidentiels privés,102
1829,2007,Norvège,Nombre,Cambriolage de locaux résidentiels privés,6777
1834,2007,Suisse,Nombre,Cambriolage de locaux résidentiels privés,57493
1843,2007,Ancienne République yougoslave de Macédoine,Nombre,Cambriolage de locaux résidentiels privés,1590
1848,2007,Serbie,Nombre,Cambriolage de locaux résidentiels privés,6184
1853,2007,Turquie,Nombre,Cambriolage de locaux résidentiels privés,73727

In [11]:
crimes_rob[['Value']].min()

Value    102
dtype: int64

In [12]:
#crimes_rob_min=crimes_rob[crimes_rob['Value']==102]
#crimes_rob_min
crimes_rob_min= crimes_rob[crimes_rob['Value'].isin([102])]
crimes_rob_min

,TIME,GEO,UNIT,ICCS,Value
1824,2007,Liechtenstein,Nombre,Cambriolage de locaux résidentiels privés,102

In [13]:
crimes_rob[['Value']].max()

Value    280696
dtype: int64

In [14]:
crimes_rob_max= crimes_rob[crimes_rob['Value'].isin([280696])]
crimes_rob_max

,TIME,GEO,UNIT,ICCS,Value
1805,2007,England et Wales,Nombre,Cambriolage de locaux résidentiels privés,280696

## Donnez le pays européen et l’année avec le moins de meurtres.

In [15]:
crimes_hom=crimes[(crimes['ICCS']=='Homicide intentionnel')]
crimes_hom

,TIME,GEO,UNIT,ICCS,Value
1,1998,Bulgarie,Nombre,Homicide intentionnel,381
5,1998,Tchéquie,Nombre,Homicide intentionnel,183
10,1998,Danemark,Nombre,Homicide intentionnel,60
15,1998,"Allemagne (jusqu'en 1990, ancien territoire de...",Nombre,Homicide intentionnel,998
20,1998,Estonie,Nombre,Homicide intentionnel,196
...,...,...,...,...,...
1831,2007,Suisse,Nombre,Homicide intentionnel,51
1836,2007,Monténégro,Nombre,Homicide intentionnel,10
1840,2007,Ancienne République yougoslave de Macédoine,Nombre,Homicide intentionnel,42
1845,2007,Serbie,Nombre,Homicide intentionnel,182
1850,2007,Turquie,Nombre,Homicide intentionnel,3090

In [16]:
crimes_hom['Value'].min()

0

In [17]:
crimes_hom[crimes_hom['Value']!=0].min()

TIME                                                  1998
GEO      Allemagne (jusqu'en 1990, ancien territoire de...
UNIT                                                Nombre
ICCS                                 Homicide intentionnel
Value                                                    1
dtype: object

In [18]:
#crimes_hom_mindif= crimes_hom[crimes_hom['Value'].isin([1])]
#crimes_hom_mindif

In [19]:
crimes_hom_min= crimes_hom[crimes_hom['Value'].isin([0])]
crimes_hom_min

      TIME            GEO    UNIT                   ICCS  Value
139   1998        Islande  Nombre  Homicide intentionnel      0
141   1998  Liechtenstein  Nombre  Homicide intentionnel      0
483   2000  Liechtenstein  Nombre  Homicide intentionnel      0
671   2001  Liechtenstein  Nombre  Homicide intentionnel      0
858   2002  Liechtenstein  Nombre  Homicide intentionnel      0
982   2003          Malte  Nombre  Homicide intentionnel      0
1046  2003        Islande  Nombre  Homicide intentionnel      0
1050  2003  Liechtenstein  Nombre  Homicide intentionnel      0
1436  2005  Liechtenstein  Nombre  Homicide intentionnel      0
1560  2006          Malte  Nombre  Homicide intentionnel      0
1625  2006        Islande  Nombre  Homicide intentionnel      0
1629  2006  Liechtenstein  Nombre  Homicide intentionnel      0
1821  2007  Liechtenstein  Nombre  Homicide intentionnel      0

In [20]:
hom_min_eu=crimes_hom_min[crimes_hom_min['GEO'].isin(['Malte'])]
hom_min_eu

      TIME    GEO    UNIT                   ICCS  Value
982   2003  Malte  Nombre  Homicide intentionnel      0
1560  2006  Malte  Nombre  Homicide intentionnel      0

In [21]:
hom_min_eu[['TIME','GEO','Value']]

      TIME    GEO  Value
982   2003  Malte      0
1560  2006  Malte      0

## Donnez le pays européen avec le moins de meurtres cumulés (année).

In [22]:
crimes_hom

,TIME,GEO,UNIT,ICCS,Value
1,1998,Bulgarie,Nombre,Homicide intentionnel,381
5,1998,Tchéquie,Nombre,Homicide intentionnel,183
10,1998,Danemark,Nombre,Homicide intentionnel,60
15,1998,"Allemagne (jusqu'en 1990, ancien territoire de...",Nombre,Homicide intentionnel,998
20,1998,Estonie,Nombre,Homicide intentionnel,196
...,...,...,...,...,...
1831,2007,Suisse,Nombre,Homicide intentionnel,51
1836,2007,Monténégro,Nombre,Homicide intentionnel,10
1840,2007,Ancienne République yougoslave de Macédoine,Nombre,Homicide intentionnel,42
1845,2007,Serbie,Nombre,Homicide intentionnel,182
1850,2007,Turquie,Nombre,Homicide intentionnel,3090

In [23]:
crimes_hom.groupby('GEO')[['Value']].sum()

                                                    Value
GEO
Allemagne (jusqu'en 1990, ancien territoire de ...   9074
Ancienne République yougoslave de Macédoine           421
Autriche                                              622
Belgique                                             1969
Bulgarie                                             2638
Chypre                                                103
Croatie                                               919
Danemark                                              660
England et Wales                                     8373
Espagne                                              5285
Estonie                                              1310
Finlande                                             1292
France                                               9788
France (métropolitaine)                              9788
Grèce                                                1300
Hongrie                                              2117
Irlande                                               588
Islande                                                20
Italie                                               7574
Lettonie                                             1903
Liechtenstein                                           2
Lituanie                                             3509
Luxembourg                                             49
Malte                                                  44
Monténégro                                            118
Northern Ireland (UK)                                 411
Norvège                                               385
Pays-Bas                                             1794
Pologne                                              6713
Portugal                                             1342
Roumanie                                             5240
Scotland                                             1143
Serbie                                               1510
Slovaquie                                            1221
Slovénie                                              226
Suisse                                                744
Suède                                                 934
Tchéquie                                             1500
Turquie                                             50626

In [24]:
crimes_hom.groupby('GEO')[['Value']].sum().min()

Value    2
dtype: int64

In [25]:
countrie_minus_crimes =crimes_hom.groupby('GEO')[['Value']].sum()
countrie_minus_crimes[countrie_minus_crimes['Value'].isin([2])]

               Value
GEO
Liechtenstein      2

## Dans quels pays risque-t-on le plus et le moins d’être blessé. (2 requêtes)

### ///TO do : 
comparatif pop (2008) =>calculer pop 2007 et crimes en 2007
nombre de crimes par habitants

### Population en europe en 2007

In [26]:
import numpy as np

In [27]:
europpop = pd.read_csv('pop1.csv')
eurofilt=europpop
eurofilt = eurofilt[eurofilt['Value']!=':']

eurofilt['Value'] = np.array(int(str(i).replace('.','')) for i in eurofilt['Value'])
eurofilt['Value']= eurofilt['Value'].astype("int")
#eurofilt['Value'] 
eurofilt

C:\Users\Admin\AppData\Local\Temp\ipykernel_16292\621356723.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eurofilt['Value'] = np.array(int(str(i).replace('.','')) for i in eurofilt['Value'])
C:\Users\Admin\AppData\Local\Temp\ipykernel_16292\621356723.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eurofilt['Value']= eurofilt['Value'].astype("int")

,TIME,GEO,AGE,SEX,UNIT,Value,Flag and Footnotes
0,2008,Union europ�enne (composition actuelle),Total,Total,Nombre,500297033,b
1,2008,Union europ�enne (avant l'accession de la Croa...,Total,Total,Nombre,495985066,b
2,2008,Zone euro (19 pays),Total,Total,Nombre,333096775,b
3,2008,Zone euro (18 pays),Total,Total,Nombre,329884170,b
4,2008,Belgique,Total,Total,Nombre,10666866,NaN
...,...,...,...,...,...,...,...
572,2017,Moldavie,Total,Total,Nombre,3550852,NaN
576,2017,Ukraine,Total,Total,Nombre,42414905,NaN
577,2017,Arm�nie,Total,Total,Nombre,2986151,NaN
578,2017,Azerba�djan,Total,Total,Nombre,9809981,NaN
579,2017,G�orgie,Total,Total,Nombre,3718200,NaN

In [28]:
 countries = ["Allemagne incluant l'ancienne RDA", 'Autriche', 'Belgique', 'Espagne', 'Finlande', 'France',
              'Irlande', 'Italie', 'Luxembourg', 'Pays-Bas', 'Portugal', 'Gr�ce',
              'Slov�nie', 'Chypre', 'Malte', 'Slovaquie', 'Estonie', 'Lettonie', 'Lituanie']

In [29]:
europexpect = {}

for i in range(len(countries)):
    df = eurofilt[['GEO','TIME','Value']][(eurofilt['GEO']==countries[i])]

    X = np.array(df['Value']) 
    y = np.array(df['TIME'])

    P = np.polyfit(y,X,1)
    
    infivety= 2050 
    infourty =2040
    inseven=2007
    resfiv = int(P[0]*infivety+P[1])
    resfour =int(P[0]*infourty+P[1])
    ressev =int(P[0]*inseven+P[1])
    
    target={'name':countries[i],'2050':resfiv,'2040':resfour,'2007':ressev}
    
    #europexpect[countries[i]]=[resfiv,resfour]
    europexpect[i]=target
europexpect

{0: {'name': "Allemagne incluant l'ancienne RDA",
  '2050': 82002231,
  '2040': 81835196,
  '2007': 81283980},
 1: {'name': 'Autriche', '2050': 10377350, '2040': 9871279, '2007': 8201243},
 2: {'name': 'Belgique', '2050': 13932700, '2040': 13165454, '2007': 10633546},
 3: {'name': 'Espagne', '2050': 48362214, '2040': 47853303, '2007': 46173899},
 4: {'name': 'Finlande', '2050': 6274801, '2040': 6044055, '2007': 5282597},
 5: {'name': 'France', '2050': 78158068, '2040': 74782327, '2007': 63642383},
 6: {'name': 'Irlande', '2050': 5802622, '2040': 5485245, '2007': 4437904},
 7: {'name': 'Italie', '2050': 69279414, '2040': 66754797, '2007': 58423560},
 8: {'name': 'Luxembourg', '2050': 981269, '2040': 861801, '2007': 467557},
 9: {'name': 'Pays-Bas', '2050': 19409682, '2040': 18698368, '2007': 16351031},
 10: {'name': 'Portugal', '2050': 9285813, '2040': 9602803, '2007': 10648871},
 11: {'name': 'Gr�ce', '2050': 9439202, '2040': 9850752, '2007': 11208867},
 12: {'name': 'Slov�nie', '2050': 2241478, '2040': 2190635, '2007': 2022851},
 13: {'name': 'Chypre', '2050': 1124066, '2040': 1047466, '2007': 794687},
 14: {'name': 'Malte', '2050': 637037, '2040': 580964, '2007': 395925},
 15: {'name': 'Slovaquie', '2050': 5649215, '2040': 5584234, '2007': 5369797},
 16: {'name': 'Estonie', '2050': 1214823, '2040': 1244065, '2007': 1340561},
 17: {'name': 'Lettonie', '2050': 1042315, '2040': 1311698, '2007': 2200663},
 18: {'name': 'Lituanie', '2050': 1468583, '2040': 1881435, '2007': 3243845}}

### Nombre de crimes par habitants en 2007 dans la zone euro des 19

In [30]:
for i in range(19):
    print(europexpect[i]['name'],europexpect[i]['2007'])

Allemagne incluant l'ancienne RDA 81283980
Autriche 8201243
Belgique 10633546
Espagne 46173899
Finlande 5282597
France 63642383
Irlande 4437904
Italie 58423560
Luxembourg 467557
Pays-Bas 16351031
Portugal 10648871
Gr�ce 11208867
Slov�nie 2022851
Chypre 794687
Malte 395925
Slovaquie 5369797
Estonie 1340561
Lettonie 2200663
Lituanie 3243845

In [31]:
crimes_robtot=crimes[(crimes['ICCS']=='Total')&(crimes['TIME']==2007)]
crimes_robtot

,TIME,GEO,UNIT,ICCS,Value
1662,2007,Belgique,Nombre,Total,1034430
1667,2007,Bulgarie,Nombre,Total,134685
1672,2007,Tchéquie,Nombre,Total,357391
1677,2007,Danemark,Nombre,Total,445271
1682,2007,"Allemagne (jusqu'en 1990, ancien territoire de...",Nombre,Total,6284661
1687,2007,Estonie,Nombre,Total,50375
1696,2007,Grèce,Nombre,Total,423422
1701,2007,Espagne,Nombre,Total,2309859
1706,2007,France,Nombre,Total,3589293
1711,2007,France (métropolitaine),Nombre,Total,3589293
1716,2007,Croatie,Nombre,Total,75857
1721,2007,Italie,Nombre,Total,2933146
1726,2007,Chypre,Nombre,Total,7556
1731,2007,Lettonie,Nombre,Total,55620
1736,2007,Lituanie,Nombre,Total,67990
1741,2007,Luxembourg,Nombre,Total,28252
1746,2007,Hongrie,Nombre,Total,426914
1751,2007,Malte,Nombre,Total,15005
1756,2007,Pays-Bas,Nombre,Total,1303835
1761,2007,Autriche,Nombre,Total,594240
1766,2007,Pologne,Nombre,Total,1152993
1771,2007,Portugal,Nombre,Total,398575
1776,2007,Roumanie,Nombre,Total,281457
1781,2007,Slovénie,Nombre,Total,88197
1786,2007,Slovaquie,Nombre,Total,110802
1791,2007,Finlande,Nombre,Total,435824
1796,2007,Suède,Nombre,Total,1306324
1801,2007,England et Wales,Nombre,Total,4952277
1806,2007,Scotland,Nombre,Total,385509
1811,2007,Northern Ireland (UK),Nombre,Total,108468
1816,2007,Islande,Nombre,Total,13038
1820,2007,Liechtenstein,Nombre,Total,1075
1825,2007,Norvège,Nombre,Total,271712
1830,2007,Suisse,Nombre,Total,326232
1835,2007,Monténégro,Nombre,Total,9258
1839,2007,Ancienne République yougoslave de Macédoine,Nombre,Total,26224
1844,2007,Serbie,Nombre,Total,104862
1849,2007,Turquie,Nombre,Total,970554

In [32]:
for j in range(19):
    countrie = countries[j]
    crimesseven=0
    if countries[j] =="Allemagne incluant l'ancienne RDA":
        countrie = "Allemagne (jusqu'en 1990, ancien territoire de la RFA)"
    elif countries[j] =='Gr�ce':
        countrie = 'Grèce'
    elif countries[j] =='Slov�nie':
        countrie='Slovénie'
    elif countries[j]== 'Irlande':
        countrie='Northern Ireland (UK)'
    #print(crimes_robtot['Value'][(crimes_robtot['GEO']==countrie)].values[0])
    crimesseven=crimes_robtot['Value'][(crimes_robtot['GEO']==countrie)].values[0]
    europexpect[j]['2007crimes']=crimesseven

In [33]:
europexpect

{0: {'name': "Allemagne incluant l'ancienne RDA",
  '2050': 82002231,
  '2040': 81835196,
  '2007': 81283980,
  '2007crimes': 6284661},
 1: {'name': 'Autriche',
  '2050': 10377350,
  '2040': 9871279,
  '2007': 8201243,
  '2007crimes': 594240},
 2: {'name': 'Belgique',
  '2050': 13932700,
  '2040': 13165454,
  '2007': 10633546,
  '2007crimes': 1034430},
 3: {'name': 'Espagne',
  '2050': 48362214,
  '2040': 47853303,
  '2007': 46173899,
  '2007crimes': 2309859},
 4: {'name': 'Finlande',
  '2050': 6274801,
  '2040': 6044055,
  '2007': 5282597,
  '2007crimes': 435824},
 5: {'name': 'France',
  '2050': 78158068,
  '2040': 74782327,
  '2007': 63642383,
  '2007crimes': 3589293},
 6: {'name': 'Irlande',
  '2050': 5802622,
  '2040': 5485245,
  '2007': 4437904,
  '2007crimes': 108468},
 7: {'name': 'Italie',
  '2050': 69279414,
  '2040': 66754797,
  '2007': 58423560,
  '2007crimes': 2933146},
 8: {'name': 'Luxembourg',
  '2050': 981269,
  '2040': 861801,
  '2007': 467557,
  '2007crimes': 28252},
 9: {'name': 'Pays-Bas',
  '2050': 19409682,
  '2040': 18698368,
  '2007': 16351031,
  '2007crimes': 1303835},
 10: {'name': 'Portugal',
  '2050': 9285813,
  '2040': 9602803,
  '2007': 10648871,
  '2007crimes': 398575},
 11: {'name': 'Gr�ce',
  '2050': 9439202,
  '2040': 9850752,
  '2007': 11208867,
  '2007crimes': 423422},
 12: {'name': 'Slov�nie',
  '2050': 2241478,
  '2040': 2190635,
  '2007': 2022851,
  '2007crimes': 88197},
 13: {'name': 'Chypre',
  '2050': 1124066,
  '2040': 1047466,
  '2007': 794687,
  '2007crimes': 7556},
 14: {'name': 'Malte',
  '2050': 637037,
  '2040': 580964,
  '2007': 395925,
  '2007crimes': 15005},
 15: {'name': 'Slovaquie',
  '2050': 5649215,
  '2040': 5584234,
  '2007': 5369797,
  '2007crimes': 110802},
 16: {'name': 'Estonie',
  '2050': 1214823,
  '2040': 1244065,
  '2007': 1340561,
  '2007crimes': 50375},
 17: {'name': 'Lettonie',
  '2050': 1042315,
  '2040': 1311698,
  '2007': 2200663,
  '2007crimes': 55620},
 18: {'name': 'Lituanie',
  '2050': 1468583,
  '2040': 1881435,
  '2007': 3243845,
  '2007crimes': 67990}}

In [34]:
#crimes_robtot[['GEO','Value']][(crimes_robtot['GEO']=='France')]

#### crimes par pop

In [35]:
(europexpect[0]['2007crimes']/ europexpect[0]['2007'])*100

7.731733854567653

In [36]:
crimespop =[]
for i in range(19):
    #print(i)
    crimepop=0
    crimepop=europexpect[i]['2007crimes'] / europexpect[i]['2007']
    crimepop = round(crimepop*100,1)
    crimespop.append(crimepop)
crimespop

[7.7,
 7.2,
 9.7,
 5.0,
 8.3,
 5.6,
 2.4,
 5.0,
 6.0,
 8.0,
 3.7,
 3.8,
 4.4,
 1.0,
 3.8,
 2.1,
 3.8,
 2.5,
 2.1]

### Pays où on risque le plus de problème

In [37]:
max(crimespop)

9.7

In [38]:
crimespop.index(9.7)

2

In [39]:
print('Le pays où on a le plus de risque en 2007 est :',europexpect[2]['name'], ' avec ',max(crimespop),"% de probabilité d'être victime de crimes.")

Le pays où on a le plus de risque en 2007 est : Belgique  avec  9.7 % de probabilité d'être victime de crimes.

### Pays où on risque le moins de problème

In [40]:
min(crimespop)

1.0

In [41]:
crimespop.index(1.0)

13

In [42]:
print('Le pays où on a le moins de risque en 2007 est :',europexpect[13]['name'], ' avec ',min(crimespop),"% de probabilité d'être victime de crimes.")

Le pays où on a le moins de risque en 2007 est : Chypre  avec  1.0 % de probabilité d'être victime de crimes.

# /////////////// END ///////////////

## Resume

## Donnez les pays européens ayant le plus et le moins de cambriolage en 2007

In [52]:
countries = ["Allemagne (jusqu'en 1990, ancien territoire de la RFA)", 'Autriche', 'Belgique', 'Espagne', 'Finlande', 'France',
              'Irlande', 'Italie', 'Luxembourg', 'Pays-Bas', 'Portugal', 'Grèce',
              'Slovénie', 'Chypre', 'Malte', 'Slovaquie', 'Estonie', 'Lettonie', 'Lituanie']
crimes_rob_filt=crimes_rob[crimes_rob['GEO'].isin(countries)]
#crimes_rob_filt
max_rob=crimes_rob_filt[['Value']].max()
#max_rob.Value
crimes_rob_filt_max= crimes_rob[crimes_rob['Value'].isin([max_rob.Value])]
crimes_rob_filt_max

      TIME     GEO    UNIT                                       ICCS   Value
1725  2007  Italie  Nombre  Cambriolage de locaux résidentiels privés  169367

In [135]:
ma_rob="En "+str(crimes_rob_filt_max['TIME'].values[0])+" le pays de la zone euro des 19 ayant le plus de cambriolage est : "+str(crimes_rob_filt_max['GEO'].values[0])+" à hauteur de : "+str(crimes_rob_filt_max['Value'].values[0])+ " cambriolages."
ma_rob

'En 2007 le pays de la zone euro des 19 ayant le plus de cambriolage est : Italie à hauteur de : 169367 cambriolages.'

In [62]:
min_rob=crimes_rob_filt[['Value']].min()
crimes_rob_filt_min= crimes_rob[crimes_rob['Value'].isin([min_rob.Value])]
crimes_rob_filt_min

      TIME    GEO    UNIT                                       ICCS  Value
1755  2007  Malte  Nombre  Cambriolage de locaux résidentiels privés    735

In [137]:
mi_rob="En "+str(crimes_rob_filt_min['TIME'].values[0])+" le pays de la zone euro des 19 ayant le moins de cambriolage est : "+str(crimes_rob_filt_min['GEO'].values[0])+" à hauteur de : "+str(crimes_rob_filt_min['Value'].values[0])+ " cambriolages."
mi_rob

'En 2007 le pays de la zone euro des 19 ayant le moins de cambriolage est : Malte à hauteur de : 735 cambriolages.'

## Donnez le pays européen et l’année avec le moins de meurtres.

In [65]:
hom_min_eu[['TIME','GEO','Value']]

      TIME    GEO  Value
982   2003  Malte      0
1560  2006  Malte      0

In [68]:
hom_min_eu['TIME'].values[1]

2006

In [142]:
min_homi="En "+str(hom_min_eu['TIME'].values[0])+ " et en "+str(hom_min_eu['TIME'].values[1])+" le pays de la zone euro des 19 ayant le moins de meurtre est : "+str(hom_min_eu['GEO'].values[0])+" à hauteur de : "+str(hom_min_eu['Value'].values[0])+ " meurtre."
min_homi

'En 2003 et en 2006 le pays de la zone euro des 19 ayant le moins de meurtre est : Malte à hauteur de : 0 meurtre.'

## Donnez le pays européen avec le moins de meurtres cumulés (année).

In [119]:
countrie_minus_crimes_filt=crimes_hom[crimes_hom['GEO'].isin(countries)].groupby('GEO')['Value'].sum()
countrie_minus_crimes_filt.min()
#countrie_minus_crimes_filt['GEO']
cmcf=countrie_minus_crimes_filt[countrie_minus_crimes_filt.isin([countrie_minus_crimes_filt.min()])]
cmcf

GEO
Malte    44
Name: Value, dtype: int64

In [123]:
cmcf.values

array([44], dtype=int64)

In [143]:
min_homi_cum="De 1998 à 2007 le pays de la zone euro des 19 ayant le moins de meurtre est : Malte à hauteur de : "+str(cmcf.values[0])+ " meurtres."
min_homi_cum

'De 1998 à 2007 le pays de la zone euro des 19 ayant le moins de meurtre est : Malte à hauteur de : 44 meurtres.'

## Dans quels pays risque-t-on le plus et le moins d’être blessé. (2 requêtes)

### Pays où on risque le plus de problème

In [145]:
count_pls_risk='Le pays où on a le plus de risque en 2007 est :'+str(europexpect[2]['name'])+ ' avec '+str(max(crimespop))+"% de probabilité d'être victime de crimes."
count_pls_risk

"Le pays où on a le plus de risque en 2007 est :Belgique avec 9.7% de probabilité d'être victime de crimes."

### Pays où on risque le moins de problème

In [146]:
count_mns_risk='Le pays où on a le moins de risque en 2007 est :'+str(europexpect[13]['name'])+ ' avec '+str(min(crimespop))+"% de probabilité d'être victime de crimes."
count_mns_risk

"Le pays où on a le moins de risque en 2007 est :Chypre avec 1.0% de probabilité d'être victime de crimes."

## Save data in text

In [1]:
with open('eu19_crimes.txt', 'w') as txt:
    txt.write(ma_rob+"\n"+mi_rob+"\n"+min_homi+"\n"+min_homi_cum+"\n"+count_pls_risk+"\n"+count_mns_risk)

NameError: name 'ma_rob' is not defined