## I) Visualisation

### Prison

In [1]:
import pandas as pd

In [2]:
prison = pd.read_csv('prison.csv')

In [3]:
prison.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Annee    380 non-null    int64
 1   Pays     380 non-null    object
 2   Eff_pri  380 non-null    object
dtypes: int64(1), object(2)
memory usage: 9.0+ KB

In [4]:
prison.head(5)

   Annee                                               Pays Eff_pri
0   1998                                           Belgique    8176
1   1998                                           Bulgarie   10779
2   1998                                           Tch�quie   22085
3   1998                                           Danemark    3422
4   1998  Allemagne (jusqu'en 1990, ancien territoire de...   69917

In [5]:
prison.describe()

             Annee
count   380.000000
mean   2002.500000
std       2.876068
min    1998.000000
25%    2000.000000
50%    2002.500000
75%    2005.000000
max    2007.000000

In [6]:
prison.count()

Annee      380
Pays       380
Eff_pri    380
dtype: int64

In [7]:
len(prison.columns)

3

In [8]:
prison.columns.values

array(['Annee', 'Pays', 'Eff_pri'], dtype=object)

In [9]:
prison.head(1)

   Annee      Pays Eff_pri
0   1998  Belgique    8176

## ///TO DO :

### Quel est le pays le plus carcéral dans le temps.

### Quel est le pays le moins carcéral dans le temps.

### Quel est l’année la plus carcérale.

## //END TODO

### Quel est le pays le plus carcéral dans le temps. En zone euro des 19.

In [10]:
df_pr =prison
df_pr=df_pr[df_pr['Eff_pri']!=':']
df_pr['Eff_pri']=df_pr['Eff_pri'].astype("int64")
df_pr

C:\Users\Admin\AppData\Local\Temp\ipykernel_19432\3288451015.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pr['Eff_pri']=df_pr['Eff_pri'].astype("int64")

     Annee                                               Pays  Eff_pri
0     1998                                           Belgique     8176
1     1998                                           Bulgarie    10779
2     1998                                           Tch�quie    22085
3     1998                                           Danemark     3422
4     1998  Allemagne (jusqu'en 1990, ancien territoire de...    69917
..     ...                                                ...      ...
375   2007                                             Suisse     5715
376   2007                                         Mont�n�gro      961
377   2007        Ancienne R�publique yougoslave de Mac�doine     2050
378   2007                                             Serbie     8970
379   2007                                            Turquie    90732

[370 rows x 3 columns]

In [11]:
df_pr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370 entries, 0 to 379
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Annee    370 non-null    int64
 1   Pays     370 non-null    object
 2   Eff_pri  370 non-null    int64
dtypes: int64(2), object(1)
memory usage: 11.6+ KB

In [12]:
df_pr[df_pr['Pays']=='France']

     Annee    Pays  Eff_pri
9     1998  France    53667
47    1999  France    53948
85    2000  France    48835
123   2001  France    47005
161   2002  France    53463
199   2003  France    55407
237   2004  France    59246
275   2005  France    59197
313   2006  France    59522
351   2007  France    60403

In [13]:
df_pr[df_pr['Annee']==2007]

     Annee                                               Pays  Eff_pri
342   2007                                           Belgique     9950
343   2007                                           Bulgarie    10792
344   2007                                           Tch�quie    19110
345   2007                                           Danemark     3646
346   2007  Allemagne (jusqu'en 1990, ancien territoire de...    73319
347   2007                                            Estonie     3466
348   2007                                            Irlande     3321
349   2007                                              Gr�ce    11255
350   2007                                            Espagne    67100
351   2007                                             France    60403
352   2007                                            Croatie     4290
353   2007                                             Italie    48693
354   2007                                             Chypre      646
355   2007                                           Lettonie     6548
356   2007                                           Lituanie     7770
357   2007                                         Luxembourg      666
358   2007                                            Hongrie    14743
359   2007                                              Malte      382
360   2007                                           Pays-Bas    15540
361   2007                                           Autriche     8887
362   2007                                            Pologne    90199
363   2007                                           Portugal    11587
364   2007                                           Roumanie    29390
365   2007                                           Slov�nie     1336
366   2007                                          Slovaquie     8235
367   2007                                           Finlande     3370
368   2007                                              Su�de     6740
369   2007                                   England et Wales    79734
370   2007                                           Scotland     7376
371   2007                              Northern Ireland (UK)     1484
372   2007                                            Islande      115
373   2007                                      Liechtenstein       38
374   2007                                            Norv�ge     3420
375   2007                                             Suisse     5715
376   2007                                         Mont�n�gro      961
377   2007        Ancienne R�publique yougoslave de Mac�doine     2050
378   2007                                             Serbie     8970
379   2007                                            Turquie    90732

In [14]:
countries = ["Allemagne (jusqu'en 1990, ancien territoire de la RFA)", 'Autriche', 'Belgique', 'Espagne', 'Finlande', 'France',
              'Irlande', 'Italie', 'Luxembourg', 'Pays-Bas', 'Portugal', 'Gr�ce',
              'Slov�nie', 'Chypre', 'Malte', 'Slovaquie', 'Estonie', 'Lettonie', 'Lituanie']

In [15]:
#for i in range(19):
    #print(countries[i])
    #df_pr_filt=df_pr[df_pr['Pays'].isin([countries[i]])]
df_pr_filt=df_pr[df_pr['Pays'].isin(countries)]
df_pr_filt

     Annee                                               Pays  Eff_pri
0     1998                                           Belgique     8176
4     1998  Allemagne (jusqu'en 1990, ancien territoire de...    69917
5     1998                                            Estonie     4791
6     1998                                            Irlande     2620
7     1998                                              Gr�ce     7129
..     ...                                                ...      ...
361   2007                                           Autriche     8887
363   2007                                           Portugal    11587
365   2007                                           Slov�nie     1336
366   2007                                          Slovaquie     8235
367   2007                                           Finlande     3370

[190 rows x 3 columns]

In [16]:
df_pr.groupby("Pays")[['Eff_pri']].sum().max()

Eff_pri    760912
dtype: int64

In [17]:
df_pr.groupby("Pays")[['Eff_pri']].sum().idxmax()

Eff_pri    Pologne
dtype: object

In [18]:
df_pr_filt.groupby("Pays")[['Eff_pri']].sum().max()

Eff_pri    743127
dtype: int64

In [19]:
df_pr_filt.groupby("Pays")[['Eff_pri']].sum().idxmax()

Eff_pri    Allemagne (jusqu'en 1990, ancien territoire de...
dtype: object

### Quel est le pays le moins carcéral dans le temps. En zone euro des 19.

In [20]:
df_pr.groupby("Pays")[['Eff_pri']].sum().min()

Eff_pri    632
dtype: int64

In [21]:
df_pr.groupby("Pays")[['Eff_pri']].sum().idxmin()

Eff_pri    Liechtenstein
dtype: object

In [22]:
df_pr_filt.groupby("Pays")[['Eff_pri']].sum().min()

Eff_pri    2903
dtype: int64

In [23]:
df_pr_filt.groupby("Pays")[['Eff_pri']].sum().idxmin()

Eff_pri    Malte
dtype: object

### Quel est l’année la plus carcérale.

In [24]:
df_pr_filt.groupby("Annee")[['Eff_pri']].sum().idxmax()

Eff_pri    2005
dtype: int64

In [25]:
df_pr_filt.groupby("Annee")[['Eff_pri']].sum().max()

Eff_pri    356375
dtype: int64

In [26]:
df_pr_filt[df_pr_filt['Annee']==2005]

     Annee                                               Pays  Eff_pri
266   2005                                           Belgique     9330
270   2005  Allemagne (jusqu'en 1990, ancien territoire de...    79519
271   2005                                            Estonie     4410
272   2005                                            Irlande     3151
273   2005                                              Gr�ce     9871
274   2005                                            Espagne    61054
275   2005                                             France    59197
277   2005                                             Italie    59523
278   2005                                             Chypre      536
279   2005                                           Lettonie     6998
280   2005                                           Lituanie     7951
281   2005                                         Luxembourg      735
283   2005                                              Malte      294
284   2005                                           Pays-Bas    17860
285   2005                                           Autriche     8955
287   2005                                           Portugal    12687
289   2005                                           Slov�nie     1132
290   2005                                          Slovaquie     9289
291   2005                                           Finlande     3883

## END------------------------------------------------------------

## Resume

### Quel est le pays le plus carcéral dans le temps. En zone euro des 19.

In [41]:
cntr_count_max=df_pr_filt.groupby("Pays")[['Eff_pri']].sum().max().values[0]

In [42]:
cntr_max=df_pr_filt.groupby("Pays")[['Eff_pri']].sum().idxmax().values[0]

In [54]:
cntr_prison_max="Le pays de la zone euro des 19 qui est le plus carcéral dans le temps (de 1998 à 2007) est : "+str(cntr_max)+" avec "+str(cntr_count_max)+" personnes incarcérées."
cntr_prison_max

"Le pays de la zone euro des 19 qui est le plus carcéral dans le temps (de 1998 à 2007) est : Allemagne (jusqu'en 1990, ancien territoire de la RFA) avec 743127 personnes incarcérées."

### Quel est le pays le moins carcéral dans le temps. En zone euro des 19.

In [46]:
cntr_count_min=df_pr_filt.groupby("Pays")[['Eff_pri']].sum().min().values[0]

In [47]:
cntr_min=df_pr_filt.groupby("Pays")[['Eff_pri']].sum().idxmin().values[0]

In [49]:
cntr_prison_min="Le pays de la zone euro des 19 qui est le moins carcéral dans le temps (de 1998 à 2007) est : "+str(cntr_min)+" avec "+str(cntr_count_min)+" personnes incarcérées."
cntr_prison_min

'Le pays de la zone euro des 19 qui est le moins carcéral dans le temps (de 1998 à 2007) est : Malte avec 2903 personnes incarcérées.'

### Quel est l’année la plus carcérale.

In [50]:
year_max=df_pr_filt.groupby("Annee")[['Eff_pri']].sum().idxmax().values[0]

In [51]:
year_count_max=df_pr_filt.groupby("Annee")[['Eff_pri']].sum().max().values[0]

In [52]:
year_prison_min="L'année concernant la zone euro des 19 qui est le plus carcéral est : "+str(year_max)+" avec "+str(year_count_max)+" personnes incarcérées."
year_prison_min

"L'année concernant la zone euro des 19 qui est le plus carcéral est : 2005 avec 356375 personnes incarcérées."

### Save data in text

In [56]:
with open('eu19_prison.txt', 'w') as txt:
    txt.write(cntr_prison_max+"\n"+cntr_prison_min+"\n"+year_prison_min)